<ion-view title="Collaborate"  left-buttons="leftButtons">

        <ion-tabs tabs-type="tabs-icon-only">
            <ion-tab title="Tab 1" icon-on="ion-person" icon-off="ion-person">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 1 Content</h2> 
                    <br/>
                    Individual
                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 2" icon-on="ion-person-add" icon-off="ion-person-add">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 2 Content</h2>
                    <br/>
                    Add person

                 
                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 3" icon-on="ion-person-stalker" icon-off="ion-person-stalker">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 3 Content</h2>
                    <br/>
                    Group

                

                </ion-content>
            </ion-tab>
        </ion-tabs>


    </ion-view>


<!-- <ion-view view-title="Collaborate">
  <ion-content>
    <h1>Collaborate</h1>

    	<ion-tabs tabs-type="tabs-icon-only">
            <ion-tab title="Tab 1" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 1 Content</h2>
                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 2" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 2 Content</h2>
                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 3" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
                <ion-content has-header="true" padding="true">
                    <h2>Tab 3 Content</h2>
                </ion-content>
            </ion-tab>
        </ion-tabs>

  </ion-content>
</ion-view>
 -->