<ion-view view-title="Home">
  <ion-content>
    <h1>We-Study Home</h1>
    <div id=​"map"​></div>

<div class="card list">
   <div class="item item-divider">
      Updates
   </div>
   
   <div class="item item-text-wrap">
      Welcome,
      <br/>
      {{user.name}}
      <br/>
      Here are the updates from your study groups:
      <br/>
      Update 1
      <br/>
      Update 2
   </div>
   
   <!-- <div class="item item-divider">
      Card Footer
   </div> -->
</div>
   

    <!-- https://forum.ionicframework.com/t/sidemenu-with-slidebox/15547/8 -->
   <!--  <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">

	   <ion-slide>
	      <div class = "box box1">
	         <h1>Box 1</h1>
	      </div>
	   </ion-slide>

	   <ion-slide>
	      <div class = "box box2">
	         <h1>Box 2</h1>
	      </div>
	   </ion-slide>

	   <ion-slide>
	      <div class = "box box3">
	         <h1>Box 3</h1>
	      </div>
	   </ion-slide>

	</ion-slide-box> -->

   </ion-content>
</ion-view>
